*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.hero{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
}

.hero-image{
    width:100%;
    height:100%;
    object-fit:cover;
}

.hero-text{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:700px;
    height:350px;
    color:white;
}

.ocean{
    position:absolute;
    left:20px;
    top:95px;

    font-size:88px;
    font-family: "Cormorant Garamond", serif;
    font-weight:300;
    line-height:1;
}

.photo{
    position:absolute;
    left:290px;
    top:140px;

    font-size:92px;
    font-family:"Cormorant Garamond", serif;
    font-weight:300;
    line-height:1;
}

.small{
    position:absolute;

    font-family:cursive;
    font-size:46px;
    font-style:italic;
    font-weight:300;
}

.top{
    left:360px;
    top:30px;
    transform:rotate(-3deg);
}

.middle{
    left:430px;
    top:95px;
    transform:rotate(2deg);
}

.bottom{
    left:210px;
    top:215px;
    transform:rotate(-8deg);
}
